<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/styles/reset.css">
  <link rel="stylesheet" href="/static/styles/main.css">
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Inter'>
</head>

<body>
  <nav>
  </nav>
  <main class="create-main">
    <div class="form-wrapper">
      <h2>Create a new Player:</h2>
      <form action="" data-form="create-player-form">
        <div class="form-inputs">
          <input name="first-name" type="text" placeholder="First Name">
          <input name="last-name" type="text" placeholder="Last Name">
        </div>
        <button data-button="create-player-button">Create Player</button>
      </form>
      <div class="success-mess-button" data-message="create-player-message">
      </div>
    </div>
  </main>
</body>

<script type="module" src="/static/scripts/create-player.js">
</script>

</html>
