<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/styles/reset.css">
  <link rel="stylesheet" href="/static/styles/main.css">
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Inter'>
</head>

<body>
  <nav>
    <h1 class="title-homepage">Tennis Analyis</h1>
  </nav>
  <form action="" data-form="edit-player-form">
    <input data-input="edit-first-name" name="first-name" type="text" placeholder="First Name">
    <input data-input="edit-last-name" name="last-name" type="text" placeholder="Last Name">
    <button data-button="edit-player-button">Edit Player</button>
  </form>
  <div data-message="edit-player-message"></div>
</body>

<script type="module" src="/static/scripts/edit-player.js">
</script>

</html>
