<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/styles/reset.css">
  <link rel="stylesheet" href="/static/styles/main.css">
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Inter'>
</head>

<body>
  <nav>
  </nav>
  <form action="" data-form="edit-match-form">
    <button data-button="edit-match-button">Edit Match</button>
  </form>
  <div data-message="edit-match-message"></div>
</body>

<script type="module" src="/static/scripts/edit-match.js">
</script>

</html>
