<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/styles/reset.css">
  <link rel="stylesheet" href="/static/styles/main.css">
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Inter'>
</head>

<body>
  <nav>
  </nav>
  <main class="create-main">
    <div class="form-wrapper">
      <h2>Edit player</h2>
      <form action="" data-form="edit-player-form">
        <input data-input="edit-first-name" name="first-name" type="text" placeholder="First Name">
        <input data-input="edit-last-name" name="last-name" type="text" placeholder="Last Name">
        <button data-button="edit-player-button">Edit Player</button>
      </form>
      <div class="success-mess-button" data-message="edit-player-message"></div>
    </div>
  </main>
</body>

<script type="module" src="/static/scripts/edit-player.js">
</script>

</html>
