<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/styles/reset.css">
  <link rel="stylesheet" href="/static/styles/main.css">
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>

<body>
  <nav>
  </nav>
  <main class="create-main">
    <div class="form-wrapper">
      <h2>Login:</h2>
      <form action="" data-form="login-user-form">
        <input name="username" type="text" placeholder="Username or Email">
        <input name="password" type="password" placeholder="Password">
        <button data-button="login-user-button">Login</button>
      </form>
    </div>
  </main>
</body>

<script type="module" src="/static/scripts/login.js">
</script>

</html>
