<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/styles/reset.css">
  <link rel="stylesheet" href="/static/styles/main.css">
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Inter'>
</head>

<body>
  <nav>
  </nav>
  <main class="create-main">
    <div class="player-team-wrapper" data-all-teams="all-teams-div">

    </div>
  </main>
</body>

<script type="module" src="/static/scripts/teams.js">
</script>

</html>
